#include "executers/interactive/screens/example.h"

Cache make_cache_example(GM_Term term, FrameStore store) {
    IGNORE_ARG(term);
    IGNORE_ARG(store);
}

void destroy_cache_example(Cache cache, int force) {
    IGNORE_ARG(cache);
    IGNORE_ARG(force);
}

void draw_example(GM_Term term, FrameStore store, Cache cache) {
    IGNORE_ARG(term);
    IGNORE_ARG(store);
    IGNORE_ARG(cache);
}

Keypress_Code keypress_example(GM_Term term, FrameStore store, Cache cache, GM_Key key) {
    IGNORE_ARG(term);
    IGNORE_ARG(store);
    IGNORE_ARG(key);
}
